Checks: >-
  -*,
  clang-diagnosic-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  bugprone-easily-swappable-parameters,
  cert-*,
  llvm-header-guard,
  llvm-include-order,
  llvm-namespace-comment,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  modernize-*,
  -modernize-concat-nested-namespaces,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  readability-identifier-naming,
  readability-suspicious-call-argument
CheckOptions:
  - key:             bugprone-easily-swappable-parameters.QualifiersMix
    value:           true
  - key:             bugprone-easily-swappable-parameters.ModelImplicitConversions
    value:           true
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           false
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           CamelCase
